
h1 {
    margin: 0;
}

h2, h3, h4, h5 {
    margin: 0.4em auto;
    font-weight: normal;
}

.emphasis-color {
    color: gray;
}

.error-color {
    color: orange;
}

a {
    color: gray;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

dl dd {
    margin-left: 1em;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    height: 2em;
    font-size: 1em;
    font-weight: bold;
    padding: 0 1em;
    border: 1px solid gray;
    border-radius: 0.5em;
}

.blink, .user.longestwait {
    -webkit-animation: blink 0.5s steps(2, start) infinite;
    animation: blink 0.5s steps(2, start) infinite;
    text-decoration: blink;
}
@keyframes blink {
    to { visibility: hidden; }
}
@-webkit-keyframes blink {
    to { visibility: hidden; }
}

.invisible {
    visibility: hidden;
}

#save_message, #fitness_message {
    color: gray;
    font-size: 0.75em;
    margin: 0.75em 1em;
    word-break: break-all;
    white-space: pre-line;
}

.left {
    float: left;
    word-break: break-all;
}

.right, .statscontainer .value {
    float: right;
    word-break: break-all;
}

.header a {
    margin-left: 1em;
    font-size: 1.25em;
    line-height: 2.5em;
}

.timescale_decrease, .timescale_increase {
    cursor: pointer;
}

.startstop {
    width: 7em;
    margin-left: 1em;
}

.codestatus {
    padding-top: 1em;
}

pre.cm-s-default, .CodeMirror {
    font: 14px Consolas, Monaco, monospace;
}

.world {
    position: relative;
    background-color: dimgray;
    padding: 0;
    overflow: auto hidden;
}

.innerworld {
    position: relative;
    margin-right: 220px;
    border-right: 1px solid;
    border-left: 1px solid;
}

.statscontainer {
    font: 0.75em Consolas, Monaco, monospace;
    color: lightgray;
    position: absolute;
    top: 0;
    right: 0px;
    width: 180px;
    padding: 10px 20px;
    z-index: 1;
}

.statscontainer div {
    clear: right;
}

.feedbackcontainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.feedback {
    position: relative;
    text-align: center;
    height: 100%;
    color: white;
    background-color: rgba(44, 44, 44, 0.6);
    z-index: 5;
}

.feedback a {
    color: white;
}

.user {
    color: white;
    text-shadow: 0 1px 3px black;
    z-index: 2;
}

.user.male:before {
    content: "🧍‍♂️";
}

.user.female:before {
    content: "🧍‍♀️";
}

.user.child:before {
    content: "🧍";
}

.user.longwait {
    color: yellow;
    z-index: 3;
}

.user.longestwait {
    color: red;
    z-index: 4;
}

.user.leaving {
    color: silver;
}

.up:before {
    content: "⬆";
}

.down:before {
    content: "⬇";
}

.elevator {
    background-color: #4F8686;
    border: 2px solid white;
    box-sizing: border-box;
    z-index: 1;
}

.movable, .elevator .directionindicator {
    position: absolute;
}

.elevator .directionindicator.directionindicatorup {
    left: 2px;
}

.elevator .directionindicator.directionindicatordown {
    right: 2px;
}

.elevator .directionindicator {
    color: rgba(255, 255, 255, 0.5);
}

.elevator .directionindicator .activated{
    color: lime;
}

.elevator .floorindicator {
    display: inline-block;
    position: absolute;
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.elevator .buttonindicator {
    display: inline-block;
    position: absolute;
    top: 16px;
    width: 100%;
    text-align: center;
    font-size: 8px;
    color: rgba(255, 255, 255, 0.5);
}
.elevator .buttonpress {
    cursor: pointer;
    margin: 0;
    display: inline-block;
}
.elevator .buttonpress.activated {
    color: lime;
}

.floor {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background-color: gray;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.25), rgba(255,255,255,0.25), rgba(255,255,255,0.1)); /* Standard syntax */
    border-bottom: 2px solid;
}

.floor .buttonindicator {
    cursor: pointer;
    font-size: 1.25em;
    line-height: 35px;
    padding-left: 60px;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.25);
    z-index: 2;
}
.floor .buttonindicator .activated {
    color: lime;
}

.floor .floornumber {
    position: absolute;
    color: rgba(255, 255, 255, 0.25);
    font-size: 1.5em;
    line-height: 35px;
    padding-left: 10px;
    z-index: 2;
}

.footer {
    margin-top: 1em;
}
.footer h4 {
    font-size: 0.75em;
}

.help, .doctable {
    margin: 1em auto;
}

.doctable {
    width: 100%;
    border: none;
}

.doctable th, .doctable td  {
    text-align: justify;
    border-bottom: 1px solid;
}
