

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    margin-top: 0.4em;
    margin-bottom: 0.3em;
}

.emphasis-color {
    color: gray;
}

.error-color {
    color: orange;
}

a {
    color: gray;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h2, h3, h4, h5 {
    font-weight: normal;
}

dl dd {
    margin-bottom: 1em;
    margin-left: 1em;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 40px 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    height: 30px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.blink {
  -webkit-animation: blink 0.5s steps(3, start) infinite;
  animation: blink 0.5s steps(3, start) infinite;
}
@keyframes blink {
  to { visibility: hidden; }
}
@-webkit-keyframes blink {
  to { visibility: hidden; }
}

.invisible {
    visibility: hidden;
}

.faded {
    opacity: 0.4;
}

#save_message, #fitness_message {
    color: gray;
    font-size: 12px;
    line-height: 30px;
    margin: 0 20px;
}


.left {
    float: left;
}

.right {
    float: right;
}

.header {
    height: 60px;
}

.header h1 {
    line-height: 50px;
    margin: 0;
    padding: 0;
}

.header a {
    display: inline-block;
    margin-left: 15px;
    font-size: 20px;
    line-height: 50px;
    padding: 0 4px;
}


.timescale_decrease, .timescale_increase {
    padding: 4px;
    line-height: 20px;
    cursor: pointer;
}

.timescale_increase {
    margin-right: 10px;
}


.codestatus {
    padding-top: 10px;
}

pre {
    font: 14px Consolas, Monaco, monospace;
}

.CodeMirror {
    font: 14px Consolas, Monaco, monospace;
    margin: 10px auto;
}

.world {
    position: relative;
    background-color: dimgray;
    padding: 0;
}

.innerworld {
    position: relative;
    margin-right: 280px;
    border-right: 1px solid;
    border-left: 1px solid;
}

.statscontainer {
    font: 12px Consolas, Monaco, monospace;
    color: lightgray;
    position: absolute;
    top: 0;
    right: 0px;
    width: 240px;
    padding: 20px;
    z-index: 1;
}

.statscontainer div, .statscontainer span {
    position: absolute;
    display: block;
    width: 240px;
}

.statscontainer .value {
    text-align: right;
}


.feedbackcontainer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.feedback {
    position: relative;
    text-align: center;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.6);
    z-index: 5;
}

.movable {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.user {
    color: white;
    text-shadow: 0 1px 3px black;
    z-index: 2;
}

.user.male:before {
    content: "🧍‍♂️";
}

.user.female:before {
    content: "🧍‍♀️";
}

.user.child:before {
    content: "🧍";
}

.user.happy {
}

.user.frustrated {
    color: yellow;
}

.user.disappointed {
    color: red;
}

.user.leaving {
    color: silver;
}

.up:before {
    content: "⬆";
}

.down:before {
    content: "⬇";
}

.elevator {
    background-color: #4F8686;
    border: 2px solid white;
    height: 46px;
    z-index: 1;
}

.elevator .directionindicator {
    position: absolute;
}

.elevator .directionindicator.directionindicatorup {
    left: 2px;
}

.elevator .directionindicator.directionindicatordown {
    right: 2px;
}

.elevator .directionindicator {
    color: rgba(255, 255, 255, 0.5);
}

.elevator .directionindicator .activated{
    color: lime;
}

.elevator .floorindicator {
    display: inline-block;
    position: absolute;
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}


.elevator .buttonindicator {
    display: inline-block;
    position: absolute;
    top: 15px;
    width: 100%;
    text-align: center;
    font-size: 8px;
    color: rgba(255, 255, 255, 0.5);
}
.elevator .buttonpress {
    cursor: pointer;
    margin: 0;
    display: inline-block;
}
.elevator .buttonpress.activated {
    color: lime;
}

.floor {
    position: absolute;
    width: 100%;
    height: 49px;
    background-color: gray;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.25), rgba(255,255,255,0.25), rgba(255,255,255,0.1)); /* Standard syntax */
    border-bottom: 1px solid;
}

.floor .buttonindicator {
    cursor: pointer;
    font-size: 20px;
    line-height: 50px;
    padding-left: 50px;
    color: rgba(255, 255, 255, 0.25);
}
.floor .buttonindicator .activated {
    color: lime;
}

.floor .floornumber {
    position: absolute;
    color: rgba(255, 255, 255, 0.25);
    font-size: 32px;
    line-height: 50px;
    padding-left: 10px;
}


.footer {
    margin-top: 20px;
}
.footer h4 {
    font-size: 13px;
}

.help {
    margin-top: 20px;
    margin-bottom: 30px;
}

.doctable {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
}

.doctable th, .doctable td  {
    text-align: left;
    border-bottom: 1px solid;
}

.doctable tr td:first-child {
    padding-right: 5px;
}
